@import "../../../general";

.dishBox {
  background: $white;
}

.dishBox:hover {
  background-color: $white;
  cursor: pointer;
}

.justificationPrint {
  text-align: justify;
  text-justify: inter-word;
}

.imageParent {
  display: flex;
}

// mobile version
@media only screen and (max-width: 768px) {
  .gridItem {
    padding: 2rem 0 0 1.5rem;
  }

  //.imageDimensions {
  //  height: 5rem;
  //  width: auto;
  //}

  .gridItemDescription {
    padding: 0 1rem 1rem 1rem;
  }

  .imageDimensions {
    width: 100%;
    height: auto;
    max-height: 7.5rem;
    margin: 1.5rem 1.5rem 0 0;
    max-width: 8rem;
  }

  .mobileVersion {
  }

  .webVersion {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .gridItem {
    padding: 2rem;
  }

  .gridItemImage {
    padding: 1rem 1rem 1rem 0;
  }

  //https://itnext.io/3-ways-to-implement-responsive-design-in-your-react-app-bcb6ee7eb424
  .imageDimensions {
    width: 100%;
    height: auto;
    //max-width: 100%;
    max-height: 11rem;
  }

  .mobileVersion {
    display: none;
  }

  .webVersion {
  }
}