@import "../../../general";

.dishBox {
  background: $white;
}

.dishBox:hover {
  background-color: $white;
  cursor: pointer;
}

.justificationPrint {
  text-align: justify;
  text-justify: inter-word;
}

.gridItemUpper {
  padding: 2em 2em 0 2em;
}

.gridItemLower {
  padding: 0 2em 2em 2em;
}
