.Suggestions {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    border-radius: 0;
    
    li {
        padding: 1rem;
        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
}