@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

.Container {
  display: grid;
  height: 10rem;
  background-color: #6d071a;
  align-items: center;
}

.ListContact {
  font-family: "Montserrat", sans-serif;
  color: white;
  list-style-type: none;
  padding: 0;
}

.ContactTitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.TextContainer {
  margin-left: 5rem;
}