@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");
@import "../../general";

.DishBox {
  background: $white;
  margin-bottom: 1.5rem;
  border-radius: 1.2rem !important;
}

.DishBox:hover {
  background-color: $white;
  cursor: pointer;
}

.FlexParent {
  display: flex;
}

.GridItem {
  padding: 2rem;
}

.GridItemImage {
  padding: 1rem 0 1rem 1rem;
}

.ImageDimensions {
  width: 100%;
  height: auto;
  max-height: 11rem;
  object-fit: cover;
  border-radius: 0.625rem;
}

.DishTitle {
  margin: 0 1rem 0.4rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.JustificationPrint {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.JustificationPrintExtended {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.AddressText {
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
  margin: 0.1rem 0 0 0.3rem;
}

.BtnPage {
  display: flex;
  padding-top: 0.3rem;
}

.RestoBtn {
  margin-right: 0 !important;
  margin-left: auto !important;
  padding: 0.2rem 0.8rem !important;
}