@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

.RectOnImg {
  width: 100%;
  height: 12.125rem;
  background-image: url("@src/assets/foodbg.png");
  box-shadow: inset 0 0 0 62.5rem rgba(64, 63, 76, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.TitleSearch {
  font-family: "Montserrat", sans-serif;
  font-size: 2.188rem;
  color: #ffffff;
}

.TitleCard {
  font-family: "Montserrat", sans-serif;
  font-size: 2.19rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 3rem;
}

.DivContent {
  display: flex;
  align-items: normal;
  justify-content: center;
  margin: 3rem 5rem;
}

.DivMapBtn {
  margin-right: 4rem;
}