@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

.BackgroundRect {
  width: 100%;
  height: 7.813rem;
  background-color: #6d071a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8.75rem;
}

.NavTitle {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.NavTitle:hover {
  cursor: pointer;
  color: #ffffff;
}

.NavTitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.125rem;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.NavTitle:hover::before {
  transform: scaleX(1);
}

.LogoImg {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  cursor: pointer;
}
