@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap");

.RectFilter {
  width: 24.13rem;
  height: 50.25rem;
  background-color: #ffffff;
  filter: drop-shadow(0rem 0.25rem 0.313rem rgba(0, 0, 0, 0.25));
  margin-top: 3rem;
  border-radius: 0.625rem;
}

.TitleFilter {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}

.DivTitleFilter {
  margin-bottom: 3rem;
}

.TitleSubFilter {
  font-family: "Montserrat", sans-serif;
  font-size: 1.06rem;
  font-weight: 600;
  color: #000000;
}

.DivRating {
  padding-top: 1rem;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(3, auto);
}

.DivCategories {
  padding-top: 1rem;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(3, auto);
}

.TitleCheck {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.DivAller {
  margin-top: 1rem;
}

.DivTitleAller {
  margin-bottom: 2rem;
}

.DivFilter {
  padding-top: 2rem;
  margin-left: 2rem;
  height: 100%;
}

.DivRange {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.DivSlider {
  margin-top: 1rem;
}